streamlit==1.28.1
chromadb==0.4.12
sentence-transformers==2.2.2
langchain==0.1.13
langchain-core==0.1.33
langchain-google-genai==0.0.11
cohere==5.0.0
pymupdf4llm==0.0.3
python-dotenv==1.0.0
google-generativeai==0.3.0
google-auth==2.25.2